:root {
  --background-color: #181e1c;
  --accent-color: rgb(179, 238, 103);
  --hero-gradient: linear-gradient(rgb(33, 37, 41, 0.3), rgba(33, 37, 41, 0.8));
}

body {
  font-family: "Rosario", sans-serif;
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 90px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 18px;
}

p {
  opacity: 80%;
}

i {
  padding: 30px 10px;
}

img {
  border-radius: 10px;
}

button {
  padding: 10px 30px;
}

a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand {
  padding-left: 15px;
}

.page-header {
  padding: 80px 50px 20px 50px;
  display: flex;
  align-items: end;
}

.page-subtitle {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.intro-paragraph {
  padding: 80px 60px 30px 60px;
  background-color: var(--background-color);
  color: white;
  text-align: center;
}

.intro-buttons {
  display: flex;
  justify-content: center;
}
.intro-buttons button {
  margin: 30px 20px;
}

.homepage-header,
.hero-content,
.about-page-header {
  background-image: linear-gradient(rgb(33, 37, 41, 0.6), rgba(33, 37, 41, 0.9)),
    url("../images/homepage-header-image.jpg");
  color: white;
}

.general-content {
  background-color: var(--background-color);
  color: white;
  padding: 0 100px 60px 100px;
  text-align: start;
  line-height: 30px;
}
.general-content a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

.general-content-images-lg {
  margin: 40px 0;
}

.learn-more-links {
  text-decoration: underline;
  margin-bottom: 0;
}

.hero-content h4 {
  padding-top: 60px;
}

.hero-buttons {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.hero-buttons button {
  margin: 30px 20px;
}

.about-intro-section {
  color: white;
  background: var(--background-color);
  padding: 100px 200px;
}

.about-intro-section h4 {
  font-size: 60px;
  line-height: 1.5;
  padding-top: 20px;
}

.about-intro-main-skills {
  padding-top: 100px;
}

.about-hero-section {
  background-image: var(--hero-gradient),
    url("../images/homepage-header-image.jpg");
  color: white;
  padding: 60px 200px;
}

.about-hero-section img {
  margin-bottom: 60px;
}
.about-hero-section-text {
  padding-top: 30px;
}
.about-hero-section-text h3 {
  line-height: 1.5;
}

.about-lets-chat-section {
  padding: 60px 200px;
  background: var(--background-color);
  color: white;
}

.about-in-progress-projects {
  background-image: var(--hero-gradient),
    url("../images/homepage-header-image.jpg");
  padding: 60px 100px;
  color: white;
  text-align: center;
}

.about-in-progress-projects img {
  margin-bottom: 20px;
}

.footer {
  background-color: var(--background-color);
  color: white;
  padding: 0 100px;
}
.footer-icon {
  font-size: 50px;
  padding-bottom: 20px;
  color: white;
}

.footer-text {
  font-size: 14px;
  padding: 10px 40px;
}

.footer-link {
  color: white;
  font-weight: normal;
}

@media (max-width: 1215px) {
  h6 {
    display: none;
  }

  .footer-icon {
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .footer p {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    line-height: normal;
  }

  .page-header {
    padding-top: 30px;
    padding-left: 30px;
  }

  .intro-paragraph {
    padding: 50px 20px 0 20px;
  }

  .general-content {
    padding: 0 30px 30px 30px;
  }

  .general-content-images-lg {
    margin: 50px auto 30px auto;
  }

  .hero-content {
    padding: 30px auto;
  }

  .footer {
    padding: 0 50px;
  }

  .footer-icon {
    display: flex;
    justify-items: space-around;
  }
}
