:root {
  --background-color: #181e1c;
  --accent-color: rgb(179, 238, 103);
  --hero-gradient: linear-gradient(rgb(33, 37, 41, 0.3), rgba(33, 37, 41, 0.8));
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 90px;
}

h5 {
  font-size: 18px;
}

p {
  opacity: 80%;
}

button {
  padding: 10px 30px;
  margin: 30px 20px;
}

a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.intro-paragraph {
  padding: 80px 60px 30px 60px;
  background-color: var(--background-color);
  color: white;
  text-align: center;
}

.intro-buttons {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  padding-left: 15px;
}

.page-header {
  padding: 80px 50px 20px 50px;
  display: flex;
  align-items: end;
}

.page-subtitle {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.homepage-header,
.hero-content {
  background-image: var(--hero-gradient),
    url("../images/homepage-header-image.jpg");
  color: white;
}

.general-content {
  background-color: var(--background-color);
  color: white;
  padding: 0 100px 60px 100px;
  text-align: start;
  line-height: 30px;
}
.general-content a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

.general-content-images-lg {
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.general-content-section-wrapper {
  padding: 0 30px;
}

.learn-more-links {
  text-decoration: underline;
}

.hero-content {
  padding: 60px 100px;
  text-align: left;
}

.hero-images {
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 40px;
}

a .hero-buttons {
  display: flex;
  justify-content: center;
  padding: 30px 60px;
}

.footer {
  background-color: var(--background-color);
  color: white;
  padding: 50px 200px;
}
.footer-icon {
  font-size: 50px;
  padding-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  padding: 10px 80px;
}

.footer-link {
  color: white;
  font-weight: normal;
}
