:root {
  --background-color: #181e1c;
  --accent-color: rgb(179, 238, 103);
  --hero-gradient: linear-gradient(rgb(33, 37, 41, 0.3), rgba(33, 37, 41, 0.8));
}

body {
  font-family: "Rosario", sans-serif;
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 90px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 18px;
}

p {
  opacity: 80%;
  margin-bottom: 0;
}

i {
  padding: 30px 10px;
}

img {
  border-radius: 10px;
}

button {
  margin: 30px 20px;
}

a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand {
  padding-left: 15px;
}

.header {
  padding: 80px 60px 30px;
  background-image: linear-gradient(rgb(33, 37, 41, 0.6), rgba(33, 37, 41, 0.9)),
    url("../images/homepage-header-image.jpg");
  color: white;
}

.header-subtitle {
  text-align: right;
  justify-content: end;
  align-items: end;
}

.intro-paragraph {
  padding: 80px 100px 30px;
  background-color: var(--background-color);
  color: white;
  text-align: center;
}

.intro-paragraph h5 {
  font-size: 70px;
  text-align: start;
}

.general-content {
  background-color: var(--background-color);
  color: white;
  padding: 60px 100px;
  text-align: start;
  line-height: 30px;
}

.hero-content {
  background-image: linear-gradient(rgb(33, 37, 41, 0.6), rgba(33, 37, 41, 0.9)),
    url("../images/homepage-header-image.jpg");
  color: white;
  padding: 100px;
}

.hero-content h4 {
  padding-top: 60px;
}

.hero-content h3 {
  line-height: 2;
}

.hero-buttons {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.hero-buttons button {
  margin: 30px 20px;
}

.footer {
  background-color: var(--background-color);
  color: white;
  padding: 30px 100px 60px;
}
.footer-icon {
  font-size: 50px;
  padding-bottom: 20px;
  color: white;
}

.footer-text {
  font-size: 14px;
  padding: 10px 40px;
}

.footer-link {
  color: white;
  font-weight: normal;
}

@media (max-width: 1215px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 60px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    display: none;
  }

  .intro-paragraph h5 {
    font-size: 30px;
  }

  .hero-content {
    padding: 60px;
  }

  .hero-content h3 {
    line-height: 1.5;
  }

  .footer-icon {
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .footer p {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  .page-header {
    padding: 30px auto auto 30px;
  }

  .intro-paragraph {
    padding: 50px 50px 0;
  }

  .general-content {
    padding: 30px;
  }

  .hero-content {
    padding: 30px auto;
  }

  .hero-content img {
    margin: 30px auto;
  }

  .footer {
    padding: 0 50px;
  }

  .footer-icon {
    display: flex;
    justify-items: space-around;
  }
}
